# https://github.com/github/gitignore/blob/master/Go.gitignore
*.exe
*.exe~
*.dll
*.so
*.dylib
*.vscode
.idea

# Test binary, built with `go test -c`
*.test
*_bin

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore debugging files
__debug*

.DS_Store